*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}
.rt{
    display: block;
    padding: 10px;
    margin: 8px;
    border-color: aqua;
    font-size: 20px;
}
.ee{
    display: block;
    width: 100%;
    color: aqua;
    background-color: chocolate;
    height: 30px;
    cursor: pointer;
}
.my{
    display: block;
}
.my{
    background-color: deeppink;
    margin: 20px auto;
    padding: 15px;
    max-width: 320px;
}
